/* general layout styles */

.page {
    background-color: var(--background);
    color: var(--font-color);
}

/* navbar styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

.navbar .nav-title img {
    width: 2rem;
}

/* home page styles */

.home-page {
    background: rgb(2, 0, 36);
    background: var(--background-gradient);
}

.home-page h1 {
    font-size: var(--h1);
    color: var(--white);
}

.navbar .theme-button {
    background: transparent;
    border: none;
}

.navbar .theme-button:focus {
    outline: none;
}

.navbar .theme-icon {
    color: var(--font-color);
    font-size: 2rem;
    cursor: pointer;
}

/* navbar styles */



/* about page sttyles */



/* contact page styles */



/* projects page styles */